h1, p {
  font-family: 'Times New Roman';
  margin: auto;
  color: white;
  text-align: center;

}

html {
  background:#91b0de;
}

.article {
  margin: auto;
  margin-bottom: 40px;
  width: 600px;
  padding: 5px;
  border-radius: 10px;
  color: black;
  border: 1.5px solid black;
  background: white;
  transition: 0.3s;
}

header {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-center;
  width: 100%;
  height: 120px;
  top: 0px;
  left: 0px;
  background: #26365c;
  border-bottom: 1.5px solid black;
  z-index : 10000;
}

input[type=text] {
  width: 150px;
  background: white;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #444;
  font-size: 18px;
  font-family: 'Times New Roman';
  margin: 0;
  position: absolute;
  top: 50%;
  left: 580px;
}

button {
  width: 100px;
  background: #e1e7df;
  border-radius: 4px;
  padding: 10px 8px;
  border: 1px solid #444;
  font-size: 18px;
  cursor: pointer;
  font-family: 'Times New Roman';
  margin: 0;
  position: absolute;
  top: 50%;
  left: 750px;
}

.link {
  font-family: 'Times New Roman';
  text-align: center;
  color: #26365c;
}

.articleimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 95%;
  border-radius: 5px;
}

.maincontainer {
  margin-top: 140px;
}